form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  gap: 1rem;
}

input {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0px 10px;
  margin: 10px 0px;
}

select {
  width: 20%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0px 10px;
  margin: 10px 0px;
}

.displayContainer {
/* make a centered card that has display flex row  */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    gap: 1rem;
    margin-top: 5rem;
}

.deleteButton {
  /* make a delete button with rick and morty styles */
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  height: 100%;
  padding: 0px;
  margin: 0px;
}
